<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Diego Border Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"></script>
</head>

<body class="bg-slate-800 h-dvh flex justify-center items-center">
    <div class="mx-auto size-full container text-center text-white p-4">
        <h1 class="text-5xl font-bold">
            {{ .title }}
        </h1>
        <div class="flex flex-col flex-wrap mt-20 gap-5" hx-get="/info/"
            hx-target="#wait-display" hx-trigger="load, every 5s">
            <div id="wait-display"></div>
        </div>
    </div>
</body>

</html>